# API Gateway Service Environment Variables
JWT_SECRET=
JWT_EXPIRATION=

# Redis Configuration
REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=

# PostgreSQL Configuration
DB_PASSWORD=

# Service Ports (optional, defaults are set in docker-compose)
SERVER_PORT_GATEWAY=
SERVER_PORT_AUTH=
SERVER_PORT_DISCOVERY=
SERVER_PORT_SERVICE_A=
SERVER_PORT_SERVICE_B=
