# API GATEWAY
GATEWAY_SERVICE_PORT=
RATE_LIMIT_REDIS_PASSWORD=

# EUREKA
EUREKA_SERVICE_PORT=

# ADMIN
ADMIN_SERVICE_PORT=

# USER SERVICE
USER_SERVICE_PORT=
USER_DB_USERNAME=
USER_DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# AUCTION SERVICE
AUCTION_SERVICE_PORT=
AUCTION_REDIS_PASSWORD=

# AUCTION STORAGE SERVICE
AUCTION_STORAGE_SERVICE_PORT=
AUCTION_DB_USERNAME=
AUCTION_DB_PASSWORD=

# RABBITMQ
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=